/* Estilo general de la barra de navegación */
.custom-navbar {
  background-color: #1976D2; /* Color de fondo similar a la barra lateral */
  padding: 1rem; /* Espaciado interno */
  display: flex;
  justify-content: space-between; /* Distribuye los elementos en la barra */
  align-items: center; /* Centra verticalmente */
  text-align: center;
  margin-left: 15rem;
}

.custom-navbar ul {
  list-style: none; /* Elimina las viñetas de la lista */
  display: flex; /* Alinea los elementos horizontalmente */
  gap: 1rem; /* Espaciado entre los elementos del menú */
}

.custom-navbar a {
  color: white; /* Color del texto */
  text-decoration: none; /* Elimina el subrayado */
  padding: 0.5rem 1rem; /* Espaciado interno */
  border-radius: 0.375rem; /* Bordes redondeados */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Transición suave */
}

/* Efecto hover en los enlaces */
.custom-navbar a:hover {
  background-color: #2196F3; /* Color de fondo al hacer hover */
  transform: translateY(-5px); /* Movimiento hacia arriba al hacer hover */
}

/* Estilo para el enlace activo */
.custom-navbar a.active {
  background-color: #0D47A1; /* Color diferente para el enlace activo */
}

/* Estilo responsivo para la barra de navegación */
@media (max-width: 768px) {
  .custom-navbar ul {
    flex-direction: column; /* En pantallas pequeñas, muestra el menú en columna */
    gap: 0.5rem;
    text-align: center;
    margin-left: 0;
  }

  .custom-navbar{
    margin-left: 12rem;
    top: 0;
    left: 0;
  }
}
