@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box; /* Asegura que el padding y los bordes no aumenten el ancho total */
    text-align: center;
    margin: 0; 
    padding: 0; 
}

body {
    /* background: linear-gradient(to bottom, #7ed0e5, #90cec5); */
    font-family: "Gowun Batang", serif;
}

.login_container_main {
    display: flex;
    flex-direction: column; /* Para que el encabezado esté en la parte superior */
    justify-content: flex-start; /* Alinear el contenido hacia el inicio */
    align-items: flex-start; /* Alinear el contenido hacia la izquierda */
    width: 100%; /* Asegura que ocupe el 100% del ancho disponible */
    max-width: 1200px; /* Ancho máximo */
    min-height: 100vh; /* Altura mínima */
    padding: 2rem;
    background-color: #f0f2f500;
}

.main_text {
    padding: 1rem;
    width: 100%; /* Para que el texto ocupe todo el ancho */
}

.titulo {
    font-size: 2rem; /* 32px */
    font-weight: bold;
    margin-bottom: 1rem;
}

.container_flex {
    display: flex; /* Cambia a flexbox para colocar sin_carrusel y carrusel_fotos uno al lado del otro */
    width: 100%; /* Asegura que ocupe el 100% del contenedor */
}

.sin_carrusel {
    flex: 1; /* Ocupa el espacio restante */
    padding: 2rem; 
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    margin-right: 2rem; /* Espaciado a la derecha */
}

.carrusel_fotos {
    flex: 1; /* Ocupa el espacio restante */
    height: 100px; /* Altura del carrusel */
}

.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.opt_container {
    display: grid;
    grid-template-columns: 1fr; /* Una sola columna para los campos */
    grid-gap: 1rem;
}

.tipo_id1,
.n_id1,
.fecha_n1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tipo_id1 label,
.n_id1 p,
.fecha_n1 p {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.tipo_id1 select,
.n_id1 input,
.fecha_n1 input {
    width: 100%;
    height: 40px; /* Altura de campos */
}

.btn_ingresar {
    text-align: center;
    display: block;
    margin: 1rem auto;
    height: 40px; /* Altura de botón */
}
